:root {
    --main-orange: #fea252;
    --light-orange: #ffd0a7;
    --main-red: #ff2e2e;
    --light-red: #ff6f6f;
}

/* Basic configuartion */

* {
    text-decoration: none;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    min-height: 100%;
    color: #555;
}

main {
    min-height: 68vh;
    margin: 10px 0;
    align-content: center;
}

/* Nav */

nav {
    display: flex;
    align-items: center;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.15);
    position: sticky;
    background-color: white;
    padding: 0 20px;

    .logo a {
        display: flex;
        flex-direction: row;
        text-decoration: none;
        margin-right: 10px;

        p {
            font-size: 30px;
            color: var(--main-red);
            margin: auto 0 auto 10px;
        }

        img {
            height: 65px;
            margin: 5px 0;
        }
    }

    .navlinks {
        margin-left: auto;

        .links {
            display: flex;
            align-items: center;
            gap: 15px;

            a {
                color: var(--main-red);
                text-decoration: none;
                padding: 10px 20px;
                font-size: 18px;
                transition: background-color 0.3s, color 0.3s, box-shadow 1s, scale 1s;
                border-radius: 6px;
                box-shadow: 0 0 2px gray;

                &:hover {
                    box-shadow: 0 0 5px gray;
                    background: var(--main-orange);
                    color: #555;
                    scale: 1.1;
                }

                &.active {
                    color: #555;
                    scale: 1.1;
                    background: var(--light-orange);
                }
            }
        }
    }

    .sidebar {
        position: fixed;
        width: 55vw;
        height: 100vh;
        background-color: rgba(255, 255, 255, 0.568);
        top: 0;
        right: 0;
        border-radius: 10px 0 0 10px;

        .links {
            display: flex;
            flex-direction: column;
            gap: 5px;
            margin: 0 10px;

            a {
                text-align: center;
                color: #555;
                background-color: white;
                font-size: 20px;
                padding: 15px;
                border-radius: 10px;
                box-shadow: var(--light-red) 0 0 5px;
            }
        }
    }

    .opensidebar,
    .closebutton {
        background-color: var(--light-orange);
    }

    .opensidebar {
        display: none;
        margin-left: auto;
        height: 55px;
        border-radius: 10px;

        img {
            height: 55px;
        }
    }

    .closebutton {
        border-radius: 10px 0 0 10px;
        margin: 5px;
        width: 100%;
        height: 64px;
    }
}

/* Header */

header img {
    width: 100vw;
    max-height: 200px;
    object-fit: cover;
}

/* Footer */

footer {
    bottom: 0px;
    margin-bottom: auto;
    background-color: #333;
    padding: 20px;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;

    .text {
        max-width: 700px;
        margin: auto 10px;

        h1 {
            margin: 0 0 10px 0;
        }
    }

    .link {
        margin: auto 0 0 auto;
        display: flex;
        flex-direction: column;
        gap: 10px;
        height: fit-content;

        img {
            border-radius: 10px;
            width: 50px;
            transition: scale 0.3s, rotate 0.6s;

            &:hover {
                scale: 1.1;
                rotate: 10deg;
            }
        }

        a {
            display: flex;
            flex-direction: row-reverse;
            text-decoration: none;
            color: white;
        }

        p {
            padding: 10px;
            align-self: center;
            transition: scale 0.3s;

            &:hover {
                scale: 1.2;
            }
        }
    }
}

/* About */

.about {
    margin: auto;
}

/* Generic block with image */

.block {
    margin: 10px auto;
    max-width: 1000px;
    width: 75vw;
    background-color: #333;
    padding: 20px;
    display: flex;
    flex-direction: row;
    border-radius: 20px;
    box-shadow: 0 0 5px var(--main-red);

    img {
        box-shadow: 0 0 15px white;
        height: 200px;
        aspect-ratio: 1;
        object-fit: cover;
        border-radius: 10px;
    }

    .text {
        color: white;
        margin: 0 15px;

        p:first-child {
            font-size: xx-large;
            margin: 0 0 10px 0;
        }
    }
}

/* Contact */

.contact {
    margin: auto;
    align-self: center;

    .link {
        margin: auto;
        background-color: #333;
        width: fit-content;
        max-width: 1500px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        padding: 20px;
        border-radius: 20px;
        gap: 10px;

        a {
            flex: 1;
            display: flex;
            border: white solid 2px;
            border-radius: 20px;
            padding: 10px 20px;
            background-color: #555;
            min-height: 120px;
            min-width: fit-content;
            flex-direction: row;
            transition: scale 0.6s, box-shadow 5s;
            justify-content: center;

            &:hover {
                z-index: 1;
                scale: 1.1;
                box-shadow: #ffbf00 0 0 40px;
            }
        }

        img {
            width: 100px;
            object-fit: contain;
        }

        p {
            font-size: 30px;
            color: white;
            margin: auto 20px;
        }
    }
}

/* Login */

.login {
    align-content: center;
    margin: auto;
    width: 80vw;
    height: 500px;
    flex-direction: column;
    background: linear-gradient(rgba(255, 255, 255, 0.589), rgba(255, 255, 255, 0.589)), url("../imgs/loginbackground.jpg") center / cover no-repeat;
    border-radius: 15px;

    .emailpass {
        padding: 15px;
        margin: auto;
        background-color: #999;
        border: solid 2px var(--light-red);
        box-shadow: 0 0 20px black;
        display: flex;
        flex-direction: column;
        border-radius: 20px;
        max-width: 400px;

        p {
            color: #555;

            &:last-child {
                margin-top: 10px;
                text-align: center;
                transition: scale 1s;

                &:hover {
                    scale: 1.1;
                }
            }
        }

        input {
            &:nth-of-type(-n+2) {
                font-size: 20px;
                border-radius: 5px;
            }

            &:nth-of-type(3) {
                font-size: 15px;
            }
        }
    }

    .send {
        margin: 10px;
    }

    .error {
        padding: 10px 20px;
        margin: 0 auto 10px auto;
        width: fit-content;
        background-color: var(--main-red);
        color: white;
        font-weight: bold;
        border-radius: 5px;
    }
}

/* Home */

.home {
    margin: auto;
    width: fit-content;
    max-width: 80vw;
    background-color: #ffeee6;
    border-radius: 20px;
    padding: 5px 40px;

    .homelogo {
        display: flex;
        flex-direction: column;

        p {
            &:nth-of-type(-n + 1) {
                margin: 20px 0;
                font-size: 50px;
                text-align: center;
            }

            &:last-child {
                text-align: center;
                font-size: larger;
            }
        }

        img {
            align-self: center;
            width: 200px;
        }
    }

    .filler {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin: 40px 0;
    }

    .homelogin {
        justify-content: center;
        flex-wrap: wrap;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: 50px auto;
    }

    .homecharacters {
        border-radius: 10px;
        color: #555;
        transition: border 1s, scale 1s, box-shadow 5s;
        border: solid 3px var(--light-red);
        background-color: var(--main-orange);
    }
}

.homelogin a {
    border-radius: 10px;
    color: #555;
    transition: border 1s, scale 1s, box-shadow 5s;
    border: solid 3px var(--light-red);
    background-color: var(--main-orange);
}

.home {
    .homelogin {
        a {
            text-align: center;
            font-size: 30px;
            padding: 10px 20px;
        }

        p {
            font-size: 30px;
            margin: auto 25px;
            text-align: center;
        }
    }

    .homecharacters {
        width: fit-content;
        margin: 50px auto;
        padding: 15px;
        transition: border 1s, scale 1s;

        a {
            color: #555;
        }
    }

    .homelogin a:hover {
        border: solid 3px var(--main-red);
        box-shadow: 0 0 10px var(--main-red);
        scale: 1.1;
    }
}

.homecharacters:hover {
    border: solid 3px var(--main-red);
    box-shadow: 0 0 10px var(--main-red);
    scale: 1.1;
}

/* Character creator */

.createchar {
    .error {
        color: white;
        width: fit-content;
        margin: auto;
        background-color: red;
        padding: 10px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    margin: auto;
    gap: 10px;
    width: fit-content;

    form {
        margin: 20px 0;
        height: fit-content;
        border-radius: 10px;
        background-color: rgb(211, 211, 211);
        width: fit-content;
        padding: 30px;

        .formsec {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            text-align: center;
        }

        .charstats {
            justify-content: space-between;
            display: flex;
            flex-direction: row;
            text-align: center;
            margin: 20px 0;

            input {
                -moz-appearance: textfield;
                text-align: center;
                font-size: large;
                margin: 0;
            }
        }
    }

    .mods {
        display: flex;
        flex-direction: column;
        width: fit-content;

        .racestats {
            display: flex;
            flex-direction: row;
            width: fit-content;
            margin: auto;
            gap: 5px;

            .stats {
                text-align: center;
                padding: 10px;
                border-radius: 10px;
                background-color: aliceblue;
            }
        }

        .classstats {
            display: flex;
            flex-direction: column;
            background-color: rgb(138, 138, 138);
            gap: 5px;
            padding: 10px;
            width: 350px;

            .class {
                text-align: center;

                .name {
                    background-color: rgb(190, 190, 190);
                    margin: 0 0 5px 0;
                    border-radius: 10px;
                }

                .items {
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 3px;

                    p {
                        flex: 1 0;
                        text-wrap: nowrap;
                        padding: 4px;
                        border-radius: 5px;

                        &:nth-child(odd) {
                            background-color: #e7e7e7;
                        }

                        &:nth-child(even) {
                            background-color: #dbdbdb;
                        }
                    }
                }
            }
        }
    }

    button {
        padding: 5px;
        width: 100%;
        margin-top: 10px;
    }
}

/* List of characters */

.characters {
    margin: auto;
    width: 95vw;

    .createchar {
        margin: 20px auto;
        display: flex;
        flex-direction: column;
        gap: 10px;

        p {
            padding: 0 10px;
            text-align: center;
            font-size: 35px;
        }

        a {
            border-radius: 10px;
            align-self: center;
            width: fit-content;
            padding: 10px;
            background-color: var(--light-orange);
            box-shadow: #333 0 0 5px;
            color: #555;
        }
    }

    .title {
        margin-bottom: 10px;
        text-align: center;
        font-size: 45px;
    }

    .charlist {
        justify-content: space-around;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        .char {
            color: #555;
            flex: 0 1 calc(33.33% - 2rem);
            min-width: 350px;
            border: 3px solid #333;
            padding: 10px;
            border-radius: 10px;
            transition: scale 1s, box-shadow 1s;

            &:hover {
                box-shadow: var(--main-orange) 0 0 10px;
                scale: 1.1;
                transform-origin: bottom;
            }

            p {
                text-align: center;
            }

            .charname {
                font-size: 25px;
                font-weight: bolder;
            }

            .charstats {
                font-size: 13px;
            }
        }
    }
}

/* Charsheet */

.charsheet {
    form {
        display: flex;
        justify-content: center;
    }

    button {
        background-color: red;
        padding: 5px;
        border-radius: 4px;
        color: white;
    }

    .charinfo {
        width: fit-content;
        margin: 20px auto;
        box-shadow: 0 0 10px rgb(158, 158, 158);
        border-radius: 5px;
        padding: 10px;
        background-color: #999;
        display: flex;
        flex-direction: column;

        .double {
            background-color: #c2c2c2;
            padding: 5px;
            width: fit-content;
            margin: auto;
            display: flex;
            flex-direction: row;
            border-radius: 5px;
            gap: 10px;
            text-wrap: nowrap;
            flex-wrap: wrap;
            justify-content: center;

            &:last-child {
                border-radius: 0 0 5px 5px;
            }

            .single {
                display: flex;
                gap: 5px;
            }
        }
    }

    .allstats {
        flex-wrap: wrap;
        justify-content: space-around;
        display: flex;
        flex-direction: row;

        .allmods {
            display: flex;
            flex-direction: column;
            width: fit-content;

            .sidebarlabel {
                text-align: center;
                font-size: 30px;
                font-weight: 600;
            }

            .savingthrow {
                max-width: 320px;
                margin: 10px 0 10px 10px;
                width: fit-content;
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: center;
                gap: 10px;

                .savemod {
                    background-color: #cfcfcf;
                    padding: 10px;
                    display: flex;
                    flex-direction: row;
                    border-radius: 10px;
                    gap: 5px;
                    justify-content: center;
                    flex: 1 0 0;

                    p {
                        margin: auto;
                        height: fit-content;
                    }

                    .mod {
                        font-size: 35px;
                    }

                    .pos {
                        color: rgb(0, 204, 0);
                        font-size: 35px;
                        font-weight: 900;
                    }
                }
            }

            .skills {
                display: flex;
                flex-direction: row;

                .modifiers {
                    background-color: #999999;
                    padding: 15px 10px;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    width: fit-content;
                    justify-content: center;
                    border-radius: 10px;

                    .stat {
                        text-align: center;
                        display: flex;
                        flex-direction: column;
                        gap: 10px;
                        padding: 10px 20px;
                        background-color: #c5c5c5;
                        border-radius: 15px;

                        .statlabel {
                            background-color: #ffffff;
                            font-size: 20px;
                            padding: 5px 10px;
                            border-radius: 50%;
                        }

                        .mod {
                            background-color: white;
                            border-radius: 20px;
                            font-size: 35px;
                        }

                        .statnumber {
                            background-color: white;
                            border-radius: 30px;
                            font-size: 15px;
                        }
                    }
                }

                .skillcheck {
                    justify-content: center;
                    width: fit-content;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;

                    div {
                        font-size: 18px;
                        background-color: rgb(212, 212, 212);
                        border-radius: 0 25px 25px 0;
                        display: flex;
                        flex-direction: row;
                        gap: 5px;
                        box-shadow: #707070 5px 5px 4px;
                        padding: 10px 20px 10px 10px;
                        justify-content: center;
                    }
                }
            }

            .passivep {
                margin-top: 10px;
                display: flex;
                flex-direction: row;
                justify-content: center;

                p {
                    align-self: center;
                    background-color: #e4e4e4;
                    padding: 10px 20px;
                    height: fit-content;
                    border: solid rgb(109, 109, 109) 2px;
                    border-radius: 5px;

                    &:last-child {
                        padding: 20px;
                        transform: translateX(-10px);
                        background-color: aliceblue;
                        border-radius: 50%;
                    }
                }
            }
        }
    }

    .combatinfo {
        flex: 1;
        padding: 20px;
        justify-content: center;
        background-color: rgb(212, 212, 212);
        max-width: 330px;
        display: flex;
        flex-direction: column;
        gap: 5px;
        height: fit-content;
        border-radius: 10px;

        .section {
            display: flex;
            flex-direction: row;
            gap: 5px;

            .stat {
                background-color: #a8a8a8;
                border-radius: 20px;
                padding: 10px;
                display: flex;
                flex-direction: column;
                text-align: center;
                justify-content: center;
                gap: 5px;

                p {
                    background-color: white;
                    border-radius: 10px;

                    &:first-child {
                        font-size: 25px;
                        padding: 10px;
                    }

                    &:last-child {
                        font-size: 20px;
                        padding: 5px 10px;
                    }
                }
            }
        }

        .hp {
            display: flex;
            flex-direction: column;
            gap: 5px;
            background-color: #a8a8a8;
            padding: 20px;
            border-radius: 10px;

            p {
                background-color: white;
                border-radius: 10px;
                text-align: center;

                &:first-child {
                    font-size: 25px;
                    padding: 10px;
                }

                &:last-child {
                    font-size: 40px;
                    padding: 5px 10px;
                }
            }
        }
    }

    .prof {
        background-color: #999999;
        height: fit-content;
        width: 300px;
        padding: 20px 10px;
        border-radius: 10px;

        p {
            text-align: center;
        }

        .title {
            font-size: xx-large;
            background-color: #cfcfcf;
            border-radius: 10px;
        }

        .type {
            margin: 5px 0;
            background-color: #525252;
            color: white;
            border-radius: 5px;
            font-size: x-large;
        }

        .item {
            display: flex;
            flex-direction: column;
            gap: 5px;

            p {
                border: 2px solid black;
                border-radius: 10px;

                &:nth-child(odd) {
                    background-color: aliceblue;
                }

                &:nth-child(even) {
                    background-color: rgb(134, 134, 134);
                    color: white;
                }
            }
        }
    }
}

/* Error */

.e404 {
    width: fit-content;
    text-align: center;
    margin: 60px auto;

    .text p {
        color: rgb(221, 221, 221);

        &:first-child {
            color: #555;
            font-size: xx-large;
        }
    }

    .link p {
        width: fit-content;
        border: solid 3px var(--light-red);
        padding: 10px;
        border-radius: 10px;
        transition: border 1s, scale 1s;
        margin: 20px auto;
        color: #555;
        background-color: var(--light-orange);

        &:hover {
            border: solid 3px var(--main-red);
            scale: 1.1;
        }
    }
}

@media screen and (max-width: 800px) {
    .home .homelogin {
        flex-direction: column;

        a {
            font-size: 30px;
        }
    }

    footer {
        flex-direction: column;

        .link {
            flex-direction: row;
            margin: 30px auto 0 auto;

            a {
                flex-direction: column;
            }

            img {
                margin: auto;
            }
        }
    }

    .block {
        flex-direction: column;

        .text {
            text-align: center;
        }

        img {
            margin-bottom: 25px;
        }
    }

    nav {
        .opensidebar {
            display: block;
        }

        .navlinks {
            display: none;
        }
    }

    .contact .link a {
        flex-direction: column;
        align-items: center;
    }

    .home {
        width: 100vw;
        max-width: 100vw;
        border-radius: 0px;
    }

    .login {
        width: 100vw;
        border-radius: 0;
        padding: 0 20px;
    }

    .characters {
        .createchar p {
            font-size: 25px;
        }
    }

    .createchar .mods {
        margin: 20px auto;
    }

    .charsheet {
        .allstats {
            width: 100vw;
        }

        .combatinfo,
        .prof {
            margin: 20px auto;
        }
    }
}

@media screen and (max-width: 1200px) {
    .contact .link {
        border-radius: 0;
    }
}