* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.sec1 {
    margin: 10px;
    max-width: 300px;

    .charface {
        margin: auto;
        width: fit-content;
        border-radius: 80px 80px 10px 10px;
        padding: 20px 40px;
        background-color: gray;

        p {
            color: white;
            font-size: xx-large;
            text-align: center;
        }

        img {
            width: 100px;
            aspect-ratio: 1/1;
            object-fit: cover;
            border-radius: 50%;
        }
    }

    .charinfo {
        margin: auto;
        width: 130px;
        padding: 5px;
        background-color: #B2B2B2;
        display: flex;
        flex-direction: column;
        border-radius: 0 0 10px 10px;
    }

    .charstat,
    .classlv {
        text-align: center;
        padding: 10px;
        flex: 1;
        margin: 3px;
        background-color: beige;
        border-radius: 5px;

        select {
            width: 100%;
        }

        input {
            width: 20px;
            text-align: center;
            float: right;
        }
    }

    .classlv {
        display: flex;
        flex-direction: row;
        justify-content: center;

        .stat:first-child {
            float: left;

            select {
                width: 120%;
            }
        }

        .stat:last-child {
            float: right;
        }
    }

    .pw {
        padding: 20px 10px;
        display: flex;
        flex-direction: row;
        width: fit-content;
        margin: auto;

        p {
            margin: auto;
            width: fit-content;
            height: fit-content;
        }

        p:first-child {
            padding: 12px 15px;
            border-radius: 50%;
            background-color: wheat;
            border: inset 3px black;
            font-size: x-large;
            z-index: 1;
        }

        p:last-child {
            border: solid 3px #B2B2B2;
            background-color: wheat;
            padding: 8px 5px 8px 20px;
            position: relative;
            left: -20px;
            border-radius: 0 10px 10px 0;
            min-width: 130px;
        }
    }

    .coins {
        margin: 0 0 20px 0;

        .coincount {
            justify-content: space-around;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
        }

        p {
            text-align: center;
            align-content: space-around;
            z-index: 1;
            position: relative;
        }

        p:first-child {
            border: solid 2px black;
            border-radius: 50%;
            background-color: beige;
            height: 50px;
            width: 50px;
            z-index: 2;
        }

        p:last-child {
            border: solid 2px black;
            align-content: space-around;
            width: fit-content;
            margin: auto;
            padding: 20px 10px 10px 10px;
            background-color: beige;
            bottom: 20px;
            border-radius: 0 0 5px 5px;
        }
    }

    .profs {
        margin: auto;

        .proflist {
            margin: 10px 0 0 0;
            padding: 20px;
            height: fit-content;
            background-color: #B2B2B2;
            flex-direction: column;
            flex-wrap: wrap;
            gap: 10px;
            border-radius: 10px;
            transition: all 1s;

            p {
                background-color: gray;
                padding: 5px;
                border-radius: 10px;
                flex: 1;
                text-align: center;
            }
        }

        .title {
            font-size: xx-large;
            background-color: gray;
            text-align: center;
            padding: 5px 20px;
            border-radius: 20px 20px 5px 5px;
        }

        .options {
            display: flex;
            flex-direction: row;
            width: 95%;
            margin: auto;

            p {
                border-radius: 0 0 10px 10px;
                text-align: center;
                flex: 1;
                background-color: #B2B2B2;
                padding: 5px;
                position: relative;
                transition: scale 1s;
                border: solid 2px black;
                z-index: 1;
            }

            p:hover {
                scale: 1.1;
                z-index: 2;
            }
        }
    }
}

.sec2 {
    padding: 20px;

    .armornstat {
        display: flex;
        flex-direction: row;
        background-color: gray;
        width: 50vw;
        border-radius: 20px;
        justify-content: space-around;
        max-width: 700px;
        min-width: 500px;
        
        .stat {
            border-radius: 10px;
            flex: 1;
            width: 100px;
            text-align: center;
            z-index: 2;
            padding: 10px;
            background-color: #B2B2B2;
            margin: 20px;
            max-width: 100px;
            
            .numbers {
                max-width: 80px;
                flex: 1;
                justify-content: center;
                border-radius: 5px;
                background-color: antiquewhite;
                padding: 20px;
                text-align: center;
                margin: auto;
                display: flex;
                flex-direction: row;
            }
            .stattext {
                margin: 10px 0 0 0;
            }
        }
    }
}